.ActiveEntity {
  background-color: var(--color-light-dark) !important;
  td {
    color: white !important;
  }
}

.Block {
  background-color: var(--color-light-gray);
  color: var(--color-dark-gray);
  padding: 0.833em;

  h2 {
    margin: 0 0 0.833em 0.417em;
  }
}

.BlockHeader {
  padding-bottom: .417em;
  border-bottom: 1px solid var(--color-dark-gray);
}

.Container {
  & > :not(:last-child) {
    margin-bottom: 0.833em;
  }

  min-height: 8.33em;
  display: flex;
  flex-direction: column;

  & > :not(:last-child) {
    flex: 1;
  }
}

.Table {
  width: 100%;

  th {
    text-align: center;
    background-color: var(--color-light-dark);
    color: white;
  } 

  tr:nth-child(even) {
    background-color: var(--color-dark-gray);
     
    td {
      color: white;
    }
  }


  td {
    color: var(--color-light-dark);
    text-align: center;
  }
}

.PagebleContainer {
  max-height: 8.33em;
  overflow-y: scroll;
}

.Buttons {
  margin-top: 0.833em;
  & > :not(:last-child) {
    margin-right: .833em;
  }
}
