.Container {
  display: flex;
  flex-direction: column;
}

.Container > :not(:last-child) {
  margin-bottom: .833em;
}

.Cycle {
  padding: 0 .833em;
  border-radius: .833em;
  flex: 1;
  background-color: var(--color-light-gray);
}

.Cycle:hover {
  cursor: pointer;
}

.Cycle h2 {
  color: var(--color-light-dark);
}

.Cycle p {
  color: var(--color-dark-gray);
}

.NoCycles {

}
