.FeaturedContainer {
  margin: 1.25em 0;
}

.NoArticles {
  font-weight: bold;
  text-align: center;
  color: var(--color-dark-gray);
}

.Slider {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.Slider > :not(:last-child) {
  margin-right: .417em;
}

.Slider .SliderBall {
  background-color: var(--color-light-gray);
  border: .042em var(--color-dark-gray) solid;
  width: 1em;
  height: 1.042em;
  border-radius: 50%;
}

.Slider .SliderBall--active {
  background-color: var(--color-dark-gray);
}

.CurrentArticle {

}
