@import './colors';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
}

form > :not(:last-child) {
  margin-bottom: .833em;
}

form label {
  display: flex;
  flex-direction: row;
  width: 100%;
}

form label > :last-child {
  margin-left: .833em;
  width: inherit;
}

