.Tag {
  background-color: var(--color-light-gray);
  border-radius: .417em;
  color: var(--color-dark-gray);
  padding: .45em 1.4em;
  text-align: center;
  vertical-align: center;
}

.Tag:hover {
  transition: .5s;
  filter: brightness(85%);
}
